<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">IIS Interop</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="tasks">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> REST tasks
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="graphql">
                        <span class="oi oi-project" aria-hidden="true"></span> GraphQL
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Full">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="import">
                    <span class="oi oi-data-transfer-upload" aria-hidden="true"></span> XML/JSON import
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="soap">
                    <span class="oi oi-magnifying-glass" aria-hidden="true"></span> SOAP search
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="validation">
                    <span class="oi oi-check" aria-hidden="true"></span> Validation
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="weather">
                    <span class="oi oi-cloud" aria-hidden="true"></span> gRPC weather
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">Login</NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="register">Register</NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;
}
